@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* purgecss start ignore */

/* --- All */

.ProseMirror {
    min-height: 600px;
}

.ProseMirror-focused {
  outline: none;
}

.ProseMirror > * + * {
    @apply mt-6;
}

/* --- Headings */

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4 {
    @apply font-bold;
}

.ProseMirror h1 {
    @apply text-3xl;
}

.ProseMirror h2 {
    @apply text-2xl;
}

.ProseMirror h3 {
    @apply text-xl;
}

.ProseMirror h3 {
    @apply text-lg;
}

/* --- Un/Ordered Lists */

.ProseMirror ul, ol {
    @apply pl-5;
}

.ProseMirror ol {
    list-style-type: decimal;
}

.ProseMirror ul {
    list-style-type: disc;
}

/* --- Task list */

ul[data-type="taskList"] {
    list-style: none;
    padding: 0;
}

ul[data-type="taskList"] li {
    @apply flex items-baseline;
}

ul[data-type="taskList"] li > label {
    @apply mr-1 flex items-center relative top-0.5;

    user-select: none;
}

ul[data-type="taskList"] li > div {
    flex: 1 1 auto;
}

ul[data-type="taskList"] input[type="checkbox"] {
    @apply cursor-pointer;
}

/* --- Pre */

.ProseMirror pre {
    @apply p-4 font-mono bg-black text-white text-sm rounded-sm;
}

/* --- Inline Code */

.ProseMirror code {
    @apply p-1 font-mono bg-black text-white text-sm rounded-sm;
}

/* --- Blockquote */

.ProseMirror blockquote {
    @apply pl-4 border-black border-l-2;
}

/* purgecss end ignore */
